@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.img_lateral {
  width: 100%;
  height: 100vh;
  height: -10px;
}

.img_mobile {
  display: none;
}

.card {
    margin-top: 18vh;
    margin-left: 15vw;
    position: absolute;
    z-index: 2;
  }

.card_frente {
    margin-left: -5vw;
    z-index: 2;
    position: absolute;
}

#texto1 {
  position: absolute;
  top: 145px;
  left: 21px;
  font-size: 26px;
  color: white;
  padding: 18px;
  letter-spacing: 6px;
}

.input1 {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  width: 28vw;
  margin-top: 5px;
  font-family: poppins; 
}

#texto2 {
  position: absolute;
  top: 80%;
  left: 21px;
  font-size: 14px;
  color: white;
  padding: 0;
  margin-left: 18px;
  margin-top: 5px;
  letter-spacing: 3px;
}


.input2 {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  width: 28vw;
  margin-top: 5px;
  font-family: poppins; 
}

#texto3 {
  position: absolute;
  top: 80%;
  left: 50px;
  font-size: 14px;
  color: white;
  padding: 0;
  margin-left: 70%;
  margin-top: 5px;
}


.input3 {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 28vw;
  margin-top: 5px;
  font-family: poppins; 
}

#texto4 {
  position: absolute;
  top: 44%;
  left: 21px;
  font-size: 20px;
  color: white;
  padding: 0;
  margin-left: 74%;
}


.input4 {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 28vw;
  margin-top: 5px;
  font-family: poppins; 
}

.card_tras {
    margin-top: 35vh;
    z-index: 3;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 11vw;
    gap: 5px;
  }
  
  .label {
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: poppins;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: hsl(293, 68%, 19%); 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 28vw;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover {
    background-color: #4c8fd6;
  }

  #submitButton2 {
    width: 5%;
  }
  

@media screen and  (max-width: 1300px) {
  form {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: 0 auto;
      margin-top: 20vw;
    }
}

@media screen and  (max-width: 1100px) {
  html{
    margin-right: 20%;
  }

  form {      
      margin: 0 auto;
      margin-top: 20vw;
      margin-left: 10vw;
    }
    
  .card {
    max-width:500px;
    max-height:150px;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .img_lateral {
    width: 60vw;
    height: 100vh;
  }

}

@media screen and  (max-width: 767px) {
  .backgroud_color {
      position: absolute;
      display: none;
      background-image: url(images/bg-main-mobile.png);
  }

  .images {
      display: none;
  }

  .forms {
      width: 50vw;
      margin: 0 auto;
  }
}

@media screen and  (max-width: 375px) {
    .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
    .img_lateral {
      display: none;
    }   
  
    .card {
      width: 80%;
      margin: 0 auto;
    }
}


